@import "bootstrap/dist/css/bootstrap.min.css";

.nav-input {
  width: 22.5rem;
  height: 2rem;
  flex-shrink: 0;
}

.light {
  background-color: #f2f2f2;
}
.light-text {
  color: #f2f2f2;
}
.hero-text {
  position: absolute;
  bottom: 20%;
  z-index: 2;
  padding-left: 3rem;
}
.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 50%;
  z-index: 1;
}
/* HERO DONE */
.bold-font {
  font-weight: bold;
}

.overlay {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal {
  width: 50rem;
  height: 28rem;

  position: fixed;
  top: 50%;
  display: block;
  left: 50%;
  color: black;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;

  border-radius: 0.35rem; /* Adjust border-radius as needed */
  z-index: 11; /* Adjust z-index as needed */
}
.form-title {
  font-size: 10px;
  background-color: #effff4;
  color: #008a45;
}
.small-text {
  font-size: 12px;
}

.login-input {
  border: 1px solid #d9d9db;
  color: #8a8a8a;
  padding: 0.5rem;
}
.border-light {
  border: 2px solid #8a8a8a;
}
